{% extends 'base.html' %}
{% block title %} - Home{% endblock title %}

{% block content %}
<header>

<img src="https://assets.website-files.com/5f7289d0a4144d58133e8a21/600920e90f232fa851feaaba_petplan-branding_optimized.jpg" alt="dogs">

</header>

<main>

<h4><span style="color:#758bfd;">ReTail</span> is a animal loving organization build to help animals in need stay out of shelters and move in to forever homes! Whether you are an individual or an organization, we are here to help!</h4>

<hr>

<div class="home_info">
  <div class="home_info__friend">
    <h3>Looking for a Friend?</h3>
    <p>Adoption is a great option! At ReTail we help amazing dogs from all different backgrounds find thier forever home. </p>
  </div>

  <div class="home_info__friend">
    <h3>Need to rehome a Dog?</h3>
    <p>That's okay! Dogs are a lot of resposibility and expensive - not every person's life is built for dogs. Let us help you find a new home for your friend.</p>
    {% comment %} <h5>Need Immediate help?</h5>
    <p>Check out our available foster homes in your area.</p> {% endcomment %}
  </div>

  <div class="home_info__friend">
    <h3>Are you a rescue?</h3>
    <p>We love you guys! Rescues are a lot of work, so building an maintaing a website is just another thing on the long list of resposibilities. Let us help! Instead of creating your own website, post all your dogs here!</p>
  </div>
</div>


</main>




{% endblock %}