{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://media.istockphoto.com/photos/playful-happy-smiling-pet-dog-running-in-the-grass-picture-id1320018473?b=1&k=20&m=1320018473&s=170667a&w=0&h=Q-U9yI4JjCJYSAzXZwpnM4HuaXPzo4K-vBsgO7lanyo=" alt="welcome" width="100%">
        </div>
        <div class="col-1"></div>
        <div class="col-5 mt-5">
            <h2 style="font-family: 'Courgette', cursive;
            color: red;" class="text-center">Welcome to Beaucoup</h2>
            <div class="content-section">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center">Log in</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Log in</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small  class="text-muted">Dont have an Account<a  href="{% url 'register' %}" class="ml-2">Sign up</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}