{% extends 'base.html' %}
{% block title %} - Create Post{% endblock title %}
{% load widget_tweaks %}

{% block content %}

<h1>Create Post</h1>

{% comment %} <form method="post">
  <div class="mb-3">

    <label for="dog_name" class="form-label">Dog's Name</label>
    <input type="dog_name" class="form-control" id="dog_name" aria-describedby="dog_name_help">
    <div id="dog_name_help" class="form-text">If you do not know the dog's name, that's okay! Use the name you've been calling them.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> {% endcomment %}

<form method="post">

    {% csrf_token %} 
    {% comment %} {{form.as_p}} {% endcomment %}
    {{form}}

  <input type="submit" value="Create Post" />
</form>


{% endblock content %}