body {
    min-height: 150vh;
  }
  
  footer {
    background-color: #272d2d;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
  }
  
  body {
    background-color: #f1f2f6;
  }
  
  main {
    background-color: #fafafc;
  }
  main .card_container {
    width: 100px;
  }
  main .card_container img {
    width: 90px;
  }
  main .card_container h3 {
    color: #aeb8fe;
  }
  main .card_container li {
    color: #f1f2f6;
  }
  
  header img {
    width: 100vw;
  }
  
  .about__blocks {
    background-color: #758bfd;
  }
  .about__blocks h5 {
    color: #aeb8fe;
  }